@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --cor-primaria: #0AC222; 
    --cor-secundaria: #F0FDEC; 
    --cor-secundária-escura: #7B9972;
    --cor-escura: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-escura);
}
.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    display: flex;
    justify-content: center;
}


.formulario{
    width: 500px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--cor-secundária-escura);
    border-radius: 20px;
    padding: 0 20px 20px;
    
}

.formulario h2{
    display: flex;
    justify-content: center;
}


#form-tarefa input[type="text"],
#form-tarefa input[type="date"],
#form-tarefa select ::placeholder{
    text-align: center;
}

input[type="text"], input[type="date"], select, button {
    margin: 5px;
    padding: 8px;
}

button {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: var(--cor-secundária-escura);
}

#lista-tarefas {
    max-width: 90%;
    border-collapse: collapse;
}

#lista-tarefas th, #lista-tarefas td {
    border: 1px solid var(--cor-secundária-escura);
    text-align: left;
    padding: 8px;
}

#null {
    display: none;
}

@media only screen and (max-width: 650px){
    .formulario {
        width: 300px;
        margin: 20px auto;
        padding: 0 20px 20px;
        border: 1px solid var(--cor-secundária-escura);
        border-radius: 20px;
    }

    #lista-tarefas {
        width: 400px; 
        overflow: scroll;
    }

    #lista-tarefas th:nth-child(2),
    #lista-tarefas td:nth-child(2) {
        display: none;
    }

    #lista-tarefas th, #lista-tarefas td {
        max-width: 100px; 
        overflow:scroll;
    }

}

@media only screen and (max-width: 500px){
    #lista-tarefas th:nth-child(5),
    #lista-tarefas td:nth-child(5) {
        display: none;
    }

    .container h1{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}